<div class="banner justify-content-center">
    <div class="bgColor">
        <h2 class="title">Welcome to Movie Searcher.</h2>
        <h3 class="subtitle">Get ready to know about movies</h3>
        <p class="text">See details of the selected movie on the go.</p>
        <div>
            <input class="searchInput" style="width:67%"
            [(ngModel)]="term"
            placeholder="Search for movies">
            <button class=" searchBtn" style="width:30%" (click)="Search()">Search</button>
        </div>
    </div>
    
</div>
