<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLinkActive="router-Link-Active" routerLink="" >
        <img src="../../../assets/image/logo.jpg" style="width: 40%;">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Link</a>
           -->
        </ul>
        <form class="d-flex">
         
          <input class="form-control me-2" style="width:67%"
            [(ngModel)]="term" name="search"
            placeholder="Search for movies">
          <button class="btn btn-primary" (click)="Search()" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
